a:hover {
	text-decoration: none;
}
.section_header {
	background: #2C2C2C;
	.row {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-end;
		align-items: center;
		.logo {
			margin-right: auto;
		}
	}
}
.element_menu {
	ul {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-end;
		padding: 0;
		list-style: none;
		align-items: center;
		>li {
			position: relative;
			.submenu {
				position: absolute;
				width: 220px;
				padding: 15px;
				left: 0;
				top: 25px;
				display: flex;
				flex-flow: row wrap;
				justify-content: flex-start;
				background: #2c2c2c;
				visibility: hidden;
				opacity: 0;
				z-index: -1000;
				li {
					width: 100%;
					padding: 7px 0;
					&:hover {
						a {
							color: #0CC0ED;
						}
					}
				}
			}
			.submenu.form_search {
				left: -250px;
				width: 300px;
				form {
					width: 100%;
					position: relative;
					input {
						width: 100%;
						padding: 8px 15px;
						&:focus {
							outline: 0;
						}
					}
					.btn_search {
						padding: 0;
						position: absolute;
						top: 6px;
						right: 10px;
						img {
							filter: invert(1);
						}
					}
				}
			}
			&:hover {
				.submenu {
					visibility: visible;
					opacity: 1;
					z-index: 1000;
				}
			}
		}
	}
	.top_bar {
		>ul {
			>li {
				margin-left: 15px;
				&:first-child {
					a {
						border-right: 1px solid #fff;
						padding-right: 15px;
					}
				}
				span {
					margin: 0 10px;
				}
				a {
					font-family: Lato;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 150.5%;
					color: #F2F2F2;
				}
			}
		}
	}
	.bottom_bar {
		>ul {
			>li {
				a {
					font-family: Lato;
					font-style: normal;
					font-weight: normal;
					font-size: 18px;
					line-height: 22px;
					color: #FFFFFF;
					padding: 10px 15px;
					transition: 0.5s;
				}
				&:hover {
					>a {
						color: #0CC0ED;
					}
				}
			}
		}
	}
}
.section_footer {
	background: #2c2c2c;
	.row {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-end;
		.logo_footer {
			margin-right: auto;
		}
		.footer {
			h3 {
				font-family: Lato;
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 22px;
				color: #FFFFFF;
			}
			ul {
				padding: 0;
				list-style: none;
				li {
					width: 100%;
					padding-left: 25px;
					position: relative;
					&:before {
						position: absolute;
						content: '';
						width: 6px;
						height: 6px;
						border-top: 1px solid #fff;
						border-right: 1px solid #fff;
						transform: rotateZ(45deg);
						left: 0;
						top: 9px;
					}
					a {
						font-family: Lato;
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						line-height: 150.5%;
						color: #E0E0E0;
					}
					p {
						font-family: Lato;
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						line-height: 150.5%;
						color: #E0E0E0;
					}
				}
			}
			&:last-child {
				width: 22%;
				ul {
					li {
						display: flex;
						padding-left: 0;
						&:before {
							display: none;
						}
						span {
							display: block;
							float: left;
							width: 30px;
						}
						p {
							padding-left: 5px;
							width: calc(100% - 30px);
						}
					}
				}
			}
			&:nth-child(3) {
				width: 34%;
				ul {
					display: inline-block;
					li {
						width: 50%;
						float: left;
					}
				}
			}
			&:nth-child(2) {
				width: 20%;
			}
		}
	}
}
.section_main {
	background-image: url(./../img/bg.png);
	background-size: cover;
}
.element_main {
	width: 100%;
	text-align: center;
	height: 940px;
	.cirle_main {
		position: relative;
		width: 100%;
		height: 100%;
		img {
			position: absolute;
			top: 50%;
			left: 48%;
			transform: translate(-50%, -50%);
		}
		.logo {
			z-index: 1;
		}
		.xoay1 {
			
		}
		.xoay2 {
			
		}
	}
}