a:hover {
  text-decoration: none;
}

.section_header {
  background: #2C2C2C;
}
.section_header .row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}
.section_header .row .logo {
  margin-right: auto;
}

.element_menu ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding: 0;
  list-style: none;
  align-items: center;
}
.element_menu ul > li {
  position: relative;
}
.element_menu ul > li .submenu {
  position: absolute;
  width: 220px;
  padding: 15px;
  left: 0;
  top: 25px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  background: #2c2c2c;
  visibility: hidden;
  opacity: 0;
  z-index: -1000;
}
.element_menu ul > li .submenu li {
  width: 100%;
  padding: 7px 0;
}
.element_menu ul > li .submenu li:hover a {
  color: #0CC0ED;
}
.element_menu ul > li .submenu.form_search {
  left: -250px;
  width: 300px;
}
.element_menu ul > li .submenu.form_search form {
  width: 100%;
  position: relative;
}
.element_menu ul > li .submenu.form_search form input {
  width: 100%;
  padding: 8px 15px;
}
.element_menu ul > li .submenu.form_search form input:focus {
  outline: 0;
}
.element_menu ul > li .submenu.form_search form .btn_search {
  padding: 0;
  position: absolute;
  top: 6px;
  right: 10px;
}
.element_menu ul > li .submenu.form_search form .btn_search img {
  filter: invert(1);
}
.element_menu ul > li:hover .submenu {
  visibility: visible;
  opacity: 1;
  z-index: 1000;
}
.element_menu .top_bar > ul > li {
  margin-left: 15px;
}
.element_menu .top_bar > ul > li:first-child a {
  border-right: 1px solid #fff;
  padding-right: 15px;
}
.element_menu .top_bar > ul > li span {
  margin: 0 10px;
}
.element_menu .top_bar > ul > li a {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150.5%;
  color: #F2F2F2;
}
.element_menu .bottom_bar > ul > li a {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  padding: 10px 15px;
  transition: 0.5s;
}
.element_menu .bottom_bar > ul > li:hover > a {
  color: #0CC0ED;
}

.section_footer {
  background: #2c2c2c;
}
.section_footer .row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}
.section_footer .row .logo_footer {
  margin-right: auto;
}
.section_footer .row .footer h3 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
.section_footer .row .footer ul {
  padding: 0;
  list-style: none;
}
.section_footer .row .footer ul li {
  width: 100%;
  padding-left: 25px;
  position: relative;
}
.section_footer .row .footer ul li:before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotateZ(45deg);
  left: 0;
  top: 9px;
}
.section_footer .row .footer ul li a {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150.5%;
  color: #E0E0E0;
}
.section_footer .row .footer ul li p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150.5%;
  color: #E0E0E0;
}
.section_footer .row .footer:last-child {
  width: 22%;
}
.section_footer .row .footer:last-child ul li {
  display: flex;
  padding-left: 0;
}
.section_footer .row .footer:last-child ul li:before {
  display: none;
}
.section_footer .row .footer:last-child ul li span {
  display: block;
  float: left;
  width: 30px;
}
.section_footer .row .footer:last-child ul li p {
  padding-left: 5px;
  width: calc(100% - 30px);
}
.section_footer .row .footer:nth-child(3) {
  width: 34%;
}
.section_footer .row .footer:nth-child(3) ul {
  display: inline-block;
}
.section_footer .row .footer:nth-child(3) ul li {
  width: 50%;
  float: left;
}
.section_footer .row .footer:nth-child(2) {
  width: 20%;
}

.section_main {
  background-image: url(./../img/bg.png);
  background-size: cover;
}

.element_main {
  width: 100%;
  text-align: center;
  height: 940px;
}
.element_main .cirle_main {
  position: relative;
  width: 100%;
  height: 100%;
}
.element_main .cirle_main img {
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
}
.element_main .cirle_main .logo {
  z-index: 1;
}